function timeSince(timestamp) {
  
  var now = getDate().valueOf() / 1000; // 当前时间戳（秒）
  var diff = now - timestamp; // 时间差

  var periods = [
    [parseInt(diff / 31536000), '年前'],
    [parseInt(diff / 2592000), '个月前'],
    [parseInt(diff / 18144000), '周前'],
    [parseInt(diff / 86400), '天前'],
    [parseInt(diff / 3600), '小时前'],
    [parseInt(diff / 60), '分钟前'],
    [parseInt(diff), '秒前'],
  ];

  for(var i = 0; i < 7; i++) {
      if (periods[i][0]) {
        return periods[i].join(' ');
      }
  }
  return '刚刚';
}

function parseDeviceName(num) {
//1-WEB、2-WAP、3-Android、4-IOS、5-WP
  var num = parseInt(num);
  var device = '';
  switch (num) {
    case 5:
      device = 'WP'
    case 4:
      device = 'iOS';
      break;
    case 3:
      device = 'Android';
      break
    case 2:
      device = 'WAP'
    case 1:
    case 0:
    default:
      device = ''
      break;

  } 
  return device;

}

module.exports = {
  timeSince: timeSince,
  parseDeviceName: parseDeviceName
};